extends layout

block content
  h1= title

  if error
    p Error getting dynamic content.
  else
    p The Inventory has the following record counts:

    ul
      li #[strong Categories:] !{data.category_count}
      li #[strong Products:] !{data.product_count}