body {
	margin: 0;
	padding: 0;
	font-family: 'Arial', sans-serif;
	font-size: 13px;
	color: rgb(107, 107, 107);
	min-height: 100%;
}

b {
	font-weight: 700;
}

a:-webkit-any-link {
	color: rgb(107, 107, 107);
	cursor: pointer;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

header > nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 96%;
}

header {
	position: fixed;
	width: 100%;
	top: 0;
	background: white;
}

h2 {
	font-weight: 100;
	margin-top: 0;
	padding-top: 0;
}

h3 {
	font-weight: 100;
}

.border-bottom {
	border-bottom: solid 1px rgb(238, 238, 238);
	margin: 0 -20px;
}

.border-bottom > h3,
.border-bottom > h2 {
	margin-left: 20px;
}

/* General Navigation */
ul {
	list-style: none;
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0;
	margin-inline-end: 0;
	padding-inline-start: 0;
}

li {
	float: left;
	padding-right: 20px;
}

li:last-child {
	padding-right: 0;
}

.left {
	float: left;
}

.right {
	float: right;
}

p {
	display: block;
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0;
	margin-inline-end: 0;
}

/* Header Navigation */

header {
	display: flex;
	flex-direction: column;
	padding: 5px 20px;
}

header > nav > ul > li {
	vertical-align: middle;
	line-height: 34px;
}

#profile {
	background: #ef6c00;
	border-radius: 50%;
	height: 34px;
	width: 34px;
	display: inline-block;
	font-size: 18px;
	position: relative;
	color: white;
	font-weight: 500;
}

#profile:hover {
	text-decoration: none;
}

#profile span {
	position: relative;
	top: 1px;
	left: 9px;
}

#apps img {
	height: 16px;
	width: 16px;
	display: inline-block;
	position: relative;
	top: 4px;
	opacity: 0.6;
}

#apps img:hover {
	opacity: 0.8;
}

/* Footer Navigation */

footer {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	background: rgb(243, 243, 243);
	border-top: rgb(219, 219, 219) solid 1px;
	min-width: 100%;
	min-height: 80px;
}

.location {
	margin-left: 155px;
	padding: 12px 0;
	font-size: 15px;
	color: rgb(134, 134, 134);
}

footer > nav {
	padding: 12px 0;
	border-top: rgb(219, 219, 219) solid 1px;
	color: rgb(80, 80, 80);
	margin-left: 155px;
}

/* Main: Logo, search field and buttons */

#logo img {
	display: block;
	margin: auto;
	padding: 20px 0;
	width: 92px;
	height: auto;
}

#voice {
	background: url(voice.png);
	background-size: contain;
	background-repeat: no-repeat;
	height: 27px;
	width: 27px;
}

#searchicon {
	background: url(searchicon.svg);
	background-size: contain;
	background-repeat: no-repeat;
	margin-left: 15px;
	height: 20px;
	width: 20px;
	opacity: 0.35;
}

#search-field {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0 20px;
	border: solid 1px rgb(221, 221, 221);
	border-radius: 25px;
	min-width: 600px;
	max-height: 40px;
	color: black;
	font-size: 16px;
	margin-right: 195px;
}

[type="search"] {
	position: relative;
	width: 100%;
	min-height: 40px;
	border: none;
	padding: 0;
	font-size: 16px;
}

[type="search"]:focus {
	outline: none;
}

#search-field:focus {
	outline: none;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
}

#search-field:hover {
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	-webkit-appearance: none;
}

#buttons {
	display: flex;
	margin: 0 auto;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 300px;
	min-height: 45px;
}

button {
	margin: 0 7px;
	min-width: 140px;
	background: rgb(245, 245, 245);
	border: none;
	padding: 12px;
	color: rgb(100, 100, 100);
	border-radius: 3px;
	font-size: 14px;
}

button:hover {
	border: 1px solid rgb(199, 199, 199);
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
	color: black;
}

.line {
	border-bottom: solid 1px rgb(238, 238, 238);
	text-indent: -10000000px;
	width: 100%;
}

.navigation {
	margin-top: 90px;
	padding-bottom: 5px;
	margin-left: 155px;
}

.nav-right-side {
	text-indent: 190px;
}

span.secondary-menu {
	margin-left: 20px;
}

.content {
	width: 625px;
	margin-left: 155px;
	margin-right: auto;
	color: #222;
}

.content-header {
	width: 650px;
	margin-left: 130px;
	margin-right: auto;
	color: #222;
	margin-bottom: 30px;
}

.total-results {
	margin: 20px auto;
	color: rgb(116, 116, 116);
	font-size: 14px;
}

.result {
	margin-bottom: 30px;
}

.featured-result {
	border: solid 1px rgb(238, 238, 238);
	padding: 20px;
}

.featured-desc {
	font-size: 16px;
	line-height: 1.4em;
	margin-bottom: 20px;
}

.desc {
	font-size: 14px;
	line-height: 1.5em;
	margin-bottom: 20px;
}

.sub-url {
	font-size: 14px;
	color: rgb(83, 83, 83);
}
.main-url {
	margin: 7px 0;
	font-size: 20px;
	color: rgb(32, 20, 197);
}

.featured-snippets {
	text-align: right;
	color: rgb(141, 141, 141);
	font-size: 12px;
	margin-top: 5px;
	margin-right: 20px;
}

.featured-snippets span {
	margin-left: 25px;
}

.website-builders {
	padding-top: 5px;
	display: flex;
	justify-content: space-between;
}

.block {
	width: 75px;
	padding-right: 13px;
}

.block > p {
	font-size: 14px;
	color: rgb(32, 20, 197);
	margin: 5px 0;
}

.website-builders img {
	display: block;
	width: 75px;
	height: 75px;
	object-fit: cover;
}

.searches {
	display: flex;
	margin-bottom: 20px;
}

.searches li {
	width: 100%;
	font-size: 14px;
	color: rgb(32, 20, 197);
	font-weight: 700;
	padding: 5px 0;
}

.searches .right {
	margin-left: -150px;
}

td img {
	margin-left: -2px;
	margin-right: -2px;
}

.botnav {
	display: block;
	margin-left: 170px;
	padding-top: 20px;
	margin-bottom: 30px;
}

.secondrow {
	text-align: center;
	font-size: 13px;
}
