doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/profile.css')
    link(rel='stylesheet', href='/stylesheets/message.css')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
  body
    if currentUser
      div.navbar
        h1
          a(href="/" class="navbar-logo") Members Only
        div.avatar-layout
          a(href="/profile")
            img(src=`/images/${currentUser.avatar}.svg`) 
    else
      div.navbar
        h1
          a(href="/" class="navbar-logo") Members Only
        a(href="/login") Login
    block content