a:link {
	text-decoration: none;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	background-color: #f6f6f6;
	margin: 0;
	padding: 0;
}

.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/* Banner */

.banner {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	font-size: 12px;
	line-height: 1.2rem;
	color: rgb(112, 112, 112);
}

.banner button {
	padding: 9px 28px;
	background-color: rgb(58, 124, 223);
	color: white;
	border: rgb(66, 66, 97) solid 1px;
	border-radius: 5px;
	margin: 0 20px 0 10px;
	font-size: 15px;
}

/* Header */

header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.logo img {
	width: 175px;
	filter: grayscale(100);
	opacity: 0.75;
}

.header-nav {
	display: flex;
	flex-direction: row;
	font-size: 22px;
	color: rgb(160, 160, 160);
}

.header-nav div {
	padding: 0 10px;
}

/* Form */

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 320px;
	background-color: #fff;
	padding: 30px;
	margin: 20px 0;
	border: rgb(204, 204, 204) solid 1px;
	border-radius: 3px;
}

.container h2 {
	font-size: 24px;
	font-weight: 400;
	text-align: center;
	color: rgb(85, 85, 85);
	margin: 0;
}

.desc {
	color: rgb(85, 85, 85);
	text-align: center;
	margin-bottom: 15px;
}

.learn-more {
	font-size: 12px;
}

.form-container {
	display: flex;
	flex-direction: column;
}

.form-container form {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

#form-btn {
	padding: 15px;
	background-color: rgb(58, 124, 223);
	color: white;
	border: rgb(66, 66, 97) solid 1px;
	border-radius: 5px;
	margin: 30px 0 40px 0;
	font-size: 16px;
}

.form-container input {
	padding: 8px;
	border: rgb(204, 204, 204) solid 1px;
	border-radius: 3px;
}

.form-container label {
	padding: 10px 0;
	color: rgb(85, 85, 85);
}

.form-container span {
	padding: 7px 0;
	margin-bottom: 18px;
	font-size: 10px;
}

.form-container [for="phone"] {
	margin-top: 25px;
}

.disclaimer {
	text-align: center;
	line-height: 1.5rem;
	font-size: 13px;
	font-style: italic;
	width: 90%;
	color: rgb(85, 85, 85);
	margin: 0 auto;
}

.form-footer {
	background-color: rgb(240, 240, 240);
	text-align: center;
	position: relative;
	width: 380px;
	bottom: -30px;
}

.form-footer p {
	margin: 0 auto;
	font-size: 10px;
	padding: 25px 0;
	color: rgb(85, 85, 85);
}

/* Footer Section */

footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 85%;
	margin-top: 10px;
}

.footer-links {
	display: flex;
	list-style: none;
	margin: 0;
}

.footer-links li {
	padding: 0 5px;
}

.footer-links a:link {
	color: rgb(85, 85, 85);
}

.footer-links a:hover {
	text-decoration: underline;
}

.fine-print {
	color: rgb(85, 85, 85);
	font-size: 12px;
	text-align: center;
	line-height: 1.2rem;
}

/* Media Queries */

@media only screen and (max-width: 600px) {
	.banner {
		display: none;
	}
}
